@import "./fonts.scss";
@import "./cdn";
@import "./variables";
@import "./header.scss";
@import "./main-part.scss";
@import "./main-clients.scss";
@import "./settings.scss";
@import "./schedule.scss";
@import "./report.scss";
@import "./crm.scss";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
}
